[Unit]
Description=Check the Illarin backup repository every week

[Timer]
OnCalendar=Sun *-*-* 05:20:00
RandomizedDelaySec=30m
Persistent=true
Unit=illarin-backup-check.service

[Install]
WantedBy=timers.target
